body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.box {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    text-align: center;
    position: relative;
}

.semi-circle {
    width: 200px;
    height: 100px;
    background-color: black;
    border: 2px solid white;
    border-bottom: none;
    border-radius: 100px 100px 0 0;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.semi-circle::after {
    content: '';
    width: calc(100% - 4px); /* Ajustar según el borde */
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -2px; /* Ajustar según el borde */
    left: 50%;
    transform: translateX(-50%);
}

.author {
    font-size: 1.5em;
}

.hopscotch {
    width: 150px;
    margin: 0 auto;
    position: relative;
}

.half-square,
.square {
    border: 2px solid white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    height: 50px;
    width: 100%;
}

.half-square {
    height: 50px;
    width: 50%;
}

.square::after,
.half-square::after {
    content: attr(data-number);
    font-size: 1.5em;
}

.title {
    background-color: black;
}

.title-book {
    color: pink;
    font-weight: bold;
    font-size: 1.5em;
}

.menu button {
    transition: background-color 0.3s, color 0.3s;
}

.menu button:hover {
    background-color: black;
    color: white;
}

.large-img {
    max-width: 30%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}

.hopscotch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
