/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

.container {
    text-align: center;
}

.semi-circle {
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.author {
    font-weight: bold;
}

.hopscotch {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column, .row {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.square, .half-square {
    background-color: #ddd;
    border: 1px solid #bbb;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.square.title {
    background-color: #ccc;
}

.title-book {
    font-weight: bold;
}

.menu {
    margin-top: 20px;
}

.menu button {
    margin: 5px;
}

.menu-modo {
    margin-top: 20px;
    text-align: left;
}

.menu-modo input {
    margin: 10px 0;
}

.menu-modo ul {
    list-style-type: none;
    padding: 0;
}

.menu-modo ul li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ddd;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    .semi-circle {
        width: 150px;
        height: 75px;
    }

    .square, .half-square {
        width: 70px;
        height: 70px;
        margin: 3px;
    }

    .menu button {
        width: 100%;
        margin: 5px 0;
    }

    .menu-modo {
        text-align: center;
    }

    .menu-modo input {
        width: calc(100% - 20px);
        margin: 10px auto;
    }
}
