body {
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    text-align: center;
    position: relative;
}

.semi-circle {
    width: 200px;
    height: 100px;
    background-color: black;
    border: 2px solid white;
    border-bottom: none;
    border-radius: 100px 100px 0 0;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.semi-circle::after {
    content: '';
    width: 196px; /* Ajustar según el borde */
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -2px; /* Ajustar según el borde */
    left: 50%;
    transform: translateX(-50%);
}

.author {
    font-size: 1.5em;
}

.hopscotch {
    width: 150px;
    margin: 0 auto;
    position: relative;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square, .half-square, .full-square {
    border: 2px solid white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    height: 50px;
    width: 100%;
}

.half-square {
    height: 50px;
    width: 50%;
}

.full-square {
    height: 50px;
    width: 100%;
}

.row {
    display: flex;
}

.full-square.center {
    margin-left: 25%;
}

.square::after, .half-square::after, .full-square::after {
    content: attr(data-number);
    font-size: 1.5em;
}

.title {
    background-color: black;
}

.title-book {
    color: pink;
    font-weight: bold;
    font-size: 1.5em;
}

.edition {
    font-size: 1em;
    margin-top: 20px;
}

.footer {
    font-size: 0.8em;
    margin-top: 10px;
}

.menu {
    margin-top: 20px;
    text-align: center;
}

.menu button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.menu button:hover {
    background-color: black;
    color: white;
}

.menu-modo {
    margin-top: 20px;
    text-align: center;
}

.menu-modo p {
    font-size: 1.2em;
    margin: 10px 0;
}

.menu-modo button,
.menu-modo input {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.menu-modo button:hover,
.menu-modo input:hover {
    background-color: black;
    color: white;
}

.menu-modo input {
    width: 50px;
}

.menu-modo div {
    margin-top: 10px;
}

.menu-modo div ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
